.container {
   display: flex;
   position: relative;
   width: fit-content;
   padding: 12px 17px 22px 22px;
}
.leftArrow {
   position: absolute;
   transform: rotate(124deg);
   left: -1.8rem;
   top: 1.5rem;
}
.leftArrow.blue > path:first-of-type {
   stroke: #0155bf;
}
.leftArrow.blue stop {
   stop-color: #0257bf;
}
.leftArrow.blue > path:nth-child(2) {
   fill: #0486bf;
}

.leftArrow.light_blue stop {
   stop-color: #277af5;
}
.leftArrow.light_blue > path:first-of-type {
   stroke: #277af5;
}

.leftArrow.light_blue > path:nth-child(2) {
   fill: #277af5;
}

.leftArrow.green > path:nth-child(2) {
   fill: #0b8650;
}

.rightArrow {
   position: absolute;
   transform: rotate(-125deg);
   right: -2rem;
   top: 1.5rem;
}
.rightArrow.blue > path:first-of-type {
   stroke: #0155bf;
}

.rightArrow.blue > path:nth-child(2) {
   fill: #0486bf;
}

.rightArrow.light_blue > path:first-of-type {
   stroke: #277af5;
}

.rightArrow.light_blue > path:nth-child(2) {
   fill: #277af5;
}

.rightArrow.green > path:nth-child(2) {
   fill: #0b8650;
}

.bottomArrow {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 0;
}
.bottomArrow.blue > path:first-of-type {
   stroke: #0155bf;
   stop-color: #0151bf;
}

.bottomArrow.blue > path:nth-child(2) {
   fill: #0486bf;
}

.bottomArrow.light_blue > path:first-of-type {
   stroke: #277af5;
   stop-color: #277af5;
}

.bottomArrow.light_blue > path:nth-child(2) {
   fill: #277af5;
}

.bottomArrow.green > path:nth-child(2) {
   fill: #0b8650;
}

.circle {
   width: 140px;
   height: 140px;
   border-radius: 50%;

   display: flex;
   justify-content: center;
   align-items: center;
}
.circle.green {
   background: linear-gradient(
      64.02deg,
      #0b8650 17.2%,
      #0b8650 31.29%,
      #0d9257 44.16%,
      #06a760 72.26%,
      #10ba68 92.8%
   );
}
.circle.blue {
   background: linear-gradient(
      64.02deg,
      #0151bf 35.71%,
      #0154bf 40.04%,
      #026ebf 61.69%,
      #037abf 71.54%,
      #048ebf 92.8%
   );
}
.circle.light_blue {
   background: linear-gradient(
      64.02deg,
      #257cfc 17.2%,
      #257cfc 43.97%,
      #3282f8 57.6%,
      #5296fa 78.07%,
      #5296fa 92.8%
   );
}
.title {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-47%, -50%);
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 12.8333px;
   line-height: 17px;
   text-align: center;
   text-transform: uppercase;
   color: #ffffff;
   text-align: center;
   width: 60%;
   overflow: hidden;
   text-overflow: ellipsis;
}
