.work__container {
   text-align: center;
   width: 90%;
   margin: 140px auto;
   margin-top: 0;
   max-width: 1020px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
}

.work__wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
   gap: 60px;
}

.work__title {
   margin-bottom: 68px;
}

@media screen and (max-width: 700px) {
   .work__wrapper {
      gap: 20px;
   }
   .work__title {
      margin-bottom: 30px;
   }
}
